<p>home works!</p>


<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-vector%2Fwoman-hugs-herself-as-sign-selflove-selfcare-minimal-one-line-art-drawing_74111282.htm&psig=AOvVaw1bve5zpuMkjPNnzohFbaSY&ust=1712908581095000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNjtiPXXuYUDFQAAAAAdAAAAABAI">
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.behance.net%2Fgallery%2F120386813%2FMale-one-line-drawing-portraits%2Fmodules%2F690301521&psig=AOvVaw215ZB-fRm_-4i3czj-UIz3&ust=1712908412880000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqGAoTCPCOoaPXuYUDFQAAAAAdAAAAABCLAw">

<h4>Searching for modeling auditions? Apply for fashion, catalog, promotional, runway, & other modeling jobs on Backstage. Join and get cast today! <br> Casting. A casting is the process of choosing models for a job. This can be in person, where lots of models go to meet casting directors and show them their walk, or done direct between the booker and the casting director over email.</h4>