<ul>
  <!-- <li>
    <a routerLink="/home">home</a>
  </li> -->
  <li>
    <a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">form</a>
  </li>
  <li>
    <a routerLink="/casting" routerLinkActive="active" ariaCurrentWhenActive="page"> 
      <div class="custom-select">
        <button
          class="select-button"
          role="combobox"
          aria-labelledby="select button"
          aria-haspopup="listbox"
          aria-expanded="false"
          aria-controls="select-dropdown"
        >
          <span class="selected-value">casting</span>
          <span class="arrow"></span>
        </button>
        <ul class="select-dropdown" role="listbox" id="select-dropdown">
          <li role="option">
              <i class="bx bxl-github"></i>modeling
          </li>
          <li role="option">
            <label for="instagram"
              ><i class="bx bxl-instagram"></i>dance</label
            >
          </li>
          <li role="option">
            <i class="bx bxl-facebook-circle"></i>filming
          </li>
          <li role="option">
            <i class="bx bxl-linkedin-square"></i>advertisement
          </li>
        </ul>
      </div>
      
      <link  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"
      />


      <!-- <div class="custom-select" style="width:200px;">
        <select>
          <option value="0">casting</option>
          <option value="1">modeling</option>
          <option value="2">dance</option>
          <option value="3">filming</option>
          <option value="4">advertisement</option>
        </select>
      </div> -->
    </a>
  </li>
  <li class='right'>
    <a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">ads</a>
  </li>
  <li class='right'>
    <a routerLink="/aboutUs" routerLinkActive="active" ariaCurrentWhenActive="page">about us</a>
  </li>
  <li class='right'>
    <a routerLink="/aboutUs" routerLinkActive="active" ariaCurrentWhenActive="page">log in</a>
  </li>
</ul>

<router-outlet></router-outlet>